# Environment variables
.env
.env.local
.env.*.local

# Dependencies
node_modules
/frontend/node_modules

# Build outputs
/frontend/dist
/frontend/build

# Foundry/Forge
/contract/cache
/contract/out
/contract/.env

# IDE and editor files
.vscode
.idea
*.swp
*.swo
.DS_Store

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log* 